*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
    --primary-color: #f67ed2; /* rgb(139, 74, 139) */
    --secondary-color: rgb(218, 109, 185); /* rgb(110, 58, 110) */
    height: 100%;
    width: 100%;
}

 
* {
	margin: 0;
	padding: 0;
}



body{
    background-color: black;
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
    font-size: 1.4rem;
    width: 100%;
    height: 100%;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;
}
.rechart {
    height: calc(100 * var(--vh));
    width:100vw;
    max-width: 1000px;
    max-height: 1000px;
    font-size: 1rem;
    padding: 1rem;
    padding-bottom: .5rem;
}
@media only screen and (max-width: 1700px) and (orientation: landscape) { 
    .rechart {
        height: calc(90 * var(--vh));
        width: calc(110 * var(--vh));
        max-width: 100vw;
    }
}
@media only screen and (max-width: 1000px) and (orientation: landscape) { 
    .rechart {
        height: calc(90 * var(--vh));
        width: calc(100 * var(--vh));
        max-width: 100vw;
    }
}
@media only screen and (max-width: 650px) and (orientation: landscape) { 
    .rechart {
        height: calc(90 * var(--vh));
        width: calc(140 * var(--vh));
        max-width: 100vw;
    }
}
@media only screen and (max-width: 500px) and (orientation: landscape) { 
    .rechart {
        height: calc(85 * var(--vh));
        width: calc(155 * var(--vh));
        max-width: 100vw;
    }
}

    .rechart-slider {
        display: flex;
        flex-direction: column;
        gap: .2rem;
        justify-content: center;
        width: 75%;
        margin: 0 0 0 14%;
    }
    @media only screen and (max-width: 1000px) { 
        .rechart-slider {
            font-size: .7rem;
        }
    }
    @media only screen and (max-width: 700px) { 
        .rechart-slider {
            font-size: .55rem;
        }
    }
    @media only screen and (max-width: 500px) { 
        .rechart-slider {
            font-size: .5rem;
        }
    }
    @media only screen and (max-width: 500px) and (min-height: 500px) { 
        .rechart-slider {
            font-size: .9rem;
        }
    }


.tooltiptext {
   color: white;
}

/*background-color: rgb(1, 1, 1, .1);*/
.custom-tooltip {
    background-image: radial-gradient(black 0%, transparent 100%);
    position: 'absolute';
    top: 0;
    left: 0;
}
@media only screen and (max-width: 700px) {
    .custom-tooltip {
        font-size: .8rem;
    }
}
@media only screen and (max-width: 500px) { 
    .custom-tooltip {
        font-size: .6rem;
    }
}
@media only screen and (max-width: 500px) and (min-height: 500px) { 
    .custom-tooltip {
        font-size: .9rem;
    }
}
